.Events {
  padding-top: 65px;
}
.events-h {
  line-height: 6.5rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#845ec2, #4e8397);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
}

.btn41-43 {
  padding: 10px 35px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.btn41-44 {
  padding: 10px 50px;
  margin-right: 20px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.animate-charcter {
  font-weight: 600;
  outline: none;
  
  background: linear-gradient(
    135deg,
    #5335cf 0%,
    #de005e 25%,
    #f66e48 50%,
    #de005e 75%,
    #5335cf 100%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  to {
    background-position: 400%;
  }
}

@media screen and (max-width: 600px) {
  .Events {
    padding-top: 70px;
    width: 100%;
    height: 180vh;
  }
  .events-h {
    font-size: 2.2rem;
  }
  .but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .btn41-44 {
    padding: 8px 30px;
  }

  .btn41-43 {
    padding: 8px 20px;
  }
}
