@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
.wdwd{
	display: flex;
	height: 100vh;
	margin: 0;
	padding-top: 50px;
	font-family: "Sora", sans-serif;
}

.wd .text--glitch{
  font-size: 3.5rem;
}


.wdwd div {
	height: 100%;
	width: calc(100% / 3);
	cursor: pointer;
	transition: width 750ms ease-in-out;
	transition-delay: 250ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wdwd div:nth-child(1) {
	background: #dedede;
	color: black;
}

.wdwd div:nth-child(2) {
	background: #000;
	color: white;
}

.wdwd div:nth-child(3) {
	background: #e9a4b3;
	color: white;
}

.wdwd p {
	text-align: center;
	font-weight: 700;
	transition: all 750ms ease-in-out;
	transition-delay: 250ms;
}

.wdwd div:hover {
	width: 200%;
}

.wdwd div:hover p {
	transform: scale(4);
}


.code{


  font-size: 2vmin;
  font-family: JetBrains Mono, monospace;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 50vmin;
  background: #0c0c0f;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #0c0c0f;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}