@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}

.header-bg {
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.3s;
}
.logo {
  margin: 25px;
  max-width: 120px;
  max-height: 120px;
}
.nav-menu {
  display: flex;
}
.title {
  font-family: "Orbitron", sans-serif;
  margin-left: 20px;
}

.header > h1 {
  cursor: pointer;
}

.nav-menu li {
  padding: 2rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.nav-menu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}
.nav-menu li:hover::before {
  width: 100%;
}

ul {
  list-style-type: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-device-width: 767px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.4s;
  }

  .header > h1 {
    font-size: 1.3rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }
  .hamburger {
    display: initial;
  }
  .nav-menu li::before {
    top: 80%;
  }
  .nav-menu li:hover::before {
    width: 100%;
  }
  .title {
    margin-left: 10px;
  }
  .logo {
    margin: 0;
  }
  .button-64{
    min-width: 30%;
    
  }

 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.4s;
  }

  .header > h1 {
    font-size: 1.3rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }
  .hamburger {
    display: initial;
  }
  .nav-menu li::before {
    top: 80%;
  }
  .nav-menu li:hover::before {
    width: 100%;
  }
  .title {
    margin-left: 10px;
  }
  .logo {
    margin: 5px;
  }
}

/* button */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 18%;
  height: 45px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 20px;
  
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 16px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  font-size: 22px;
}

.button-64:hover span {
  background: none;
}


