.AppFiesta {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.event {
  padding: 0;
  text-align: justify;
}

.eve-content > p {
  font-size: 1.12rem;
  line-height: 1.55rem;
  margin-top: 18px;
}

.eve-content > h2 {
  font-weight: 300;
}

.eve-content > h3 {
  text-transform: uppercase;
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 30px;
  color: #ffe066;
}

:root {
  --color-1: #fff;
  --color-2: #fbbc05;
  --color-3: #ec4032;
  --color-4: #33a952;
  --color-5: #4086f5;
}

.event > h1 {
  font-family: "Exo", sans-serif;
  font-size: 2.12rem;
  font-weight: 900;
  width: min-content;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 20px;
}

#alogo {
  width: 250px;
  height: 200px;
}

#qr {
  width: 200px;
  height: 200px;
}

.event > img {
  width: 20%;
  height: 30%;
  border-radius: 10px;
}

.iframe-container {
  border: 1px solid;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: 30%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .AppFiesta {
padding-top: 0;
    display: flex;
    flex-direction: column;
    
    height: 250vh;
  }
  .event {
    text-align: center;
    padding-top: 0;
    padding-bottom: 110px;
  }
  .event > h1 {
    width: 100%;
    
  }
  .iframe-container {
    width: 90vw;
    height: 90vh;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .eve-content > h3 {
    font-size: 1rem;
    display: inline-block;
    width: 80%;
  }
}
.qr {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 390px) {
  .AppFiesta{
    padding-top: 100px;
  }

}



/*table */

table {
  border-collapse: collapse;
  width: 50%;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #a5b4fc;
  border-radius: 4px;
}

th {
  font-size: 1.2em;
  color: #a5b4fc;
}

td {
  font-size: 1em;
}

@media screen and (max-width: 680px) {
  .table-container {
    display: none;
  }
  .responsive-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 80%;
    margin: auto;
  }
  .responsive-container div {
    border: solid #a5b4fc 2px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .responsive-container h2 {
    font-size: 1em;
  }
  .responsive-container h1 {
    font-size: 1em;
    color: #a5b4fc;
  }
}

@media screen and (min-width: 680px) {
  .responsive-container {
    display: none;
  }
}
