.container {
  max-width: 95%;
  margin: 0 auto;
  padding-top: 120px;
}

.container .titlee {
  font-size: 4.2rem;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  padding-bottom: 18px;
}

.container .image-container {
  columns: 3 250px;
  gap: 15px;
}

.container .image-container img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

/*hover effect*/
.wg-box-content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.wg-box-content .wg-box-content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}



.wg-box-content:hover .wg-box-content-image {
  opacity: 0.3;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.wg-box-content-image {
  opacity: 1;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.wg-box-content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.wg-box-content:hover .wg-box-content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.wg-box-content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.wg-box-content-details p {
  color: #fff;
  font-size: 0.8em;
}

.wg-box-fadeIn-bottom {
  top: 80%;
}
