.contact {
  width: 85%;
  display: inline-block;
  padding: 200px 80px;
  text-align: left;
}

.c-head {

  font-weight: 500;
  font-size: 4.5rem;
  line-height: 1;
  display: block;
}

.c-para {
  width: 50%;
  font-size: 1.12rem;
  margin-top: 7.5rem;
  line-height: 1.75rem;
}

.c-mail {
  color: rgb(36, 172, 255);
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 190px 5px;
  }

  .c-head {
    font-size: 3rem;
  }
  .c-para {
    font-size: 1rem;
    word-spacing: 3px;
    width: 65%;
  }
}

/* Contact Form */
*:focus {
  outline: none;
}
.container{
  display: inline-block;
  margin: auto;
}

.container .text {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  
  
}
.container form .form-row {
  margin: 32px 10px;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin-left: -10px;
  margin-bottom: -5px;
  display: inline-block;
  position: relative;
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea {
  background: transparent;
  display: block;
  width: 70%;
  height: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 17px;
  border-bottom-style: 2px solid rgba(25, 24, 24, 0.12);
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea {
  resize: none;
  padding-top: 15px;
}
.input-data label {
  color: #fff;
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 70%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
  background: #3498db;
}
.submit-btn .input-data {
  overflow: hidden;
  height: 40px !important;
  width: 20% !important;
}

.submit-btn .input-data:hover .inner {
  left: 0;
}
.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin-left: -10px !important;
    margin-bottom: -5px !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }

  .input-data .underline {
    width: 100%;
  }
  .input-data input,
  .textarea textarea {
    width: 100%;
  }
}

/*button*/
.btn41-43 {
  
    padding: 10px 25px;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.btn-43 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-43:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
  border-radius: 5px;
}

.btn-43:hover {
  color: rgb(0, 0, 0);
}

.btn-43:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
  border-radius: 5px;
}
